<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title 'My admin' %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<nav class="navbar">
    <div class="navbar">
        <!-- put your nav bar here -->
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_tweet') }}">Post</a></li>
            <li><a href="{{ path('admin_author') }}">Author</a></li>
            <li><a href="{{ path('admin_tag') }}">Tag</a></li>
        </ol>

    </div>
</nav>
<div class="container">
    {% block body '' %}
</div>
{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function() {
            'use strict';
            /* delete confirm */
            $('form#delete').submit(function (e) {
                var $form = $(this), $hidden = $form.find('input[name="modal"]');
                if ($hidden.val() === '0') {
                    e.preventDefault();
                    $('#delete_confirm').modal('show');
                    $('#delete_confirm').find('button.btn-danger').click(function () {
                        $('#delete_confirm').modal('hide');
                        $hidden.val('1');
                        $form.submit();
                    });
                }
            });

            /* filter icon */
            $('button.filter').click(function () {
                var $icon = $(this).find('i'), target = $(this).attr('data-target');
                if ($icon.length) {
                    if ($(target).height() > 0) {
                        $icon.attr('class', 'fa fa-angle-down');
                    } else {
                        $icon.attr('class', 'fa fa-angle-right');
                    }
                }
            });
        });

    </script>
{% endblock %}
</body>
</html>